.header {
    background-color: darkgreen;
    color: white;
    border-bottom: 10px solid wheat;
    padding: 20px;
}

a {
    font-size: 16px;
    color: white;
}

a ::after {
    color: white;
}

li {
    display: inline;
    margin: 10px;
}

.pic {

}
.pic img {
    width: 200px;
    height: 200px;
    border: 10px solid wheat;
    padding: 10px;
    background-color: maroon;
}

.lower {
    background-color: antiquewhite;
    border-top: 5px solid peru;
}
